In [1]:
import pandas as pd
import numpy as np

In [28]:

# Load an Excel file
file_path = '/Users/jiahang/Downloads/result_exp2_1.csv'
df = pd.read_csv(file_path)

In [29]:
df

                            Name       model_name  _wandb  best_test_rmse
0          model_name: MewCustom        MewCustom     NaN       14.139308
1          model_name: MewCustom        MewCustom     NaN       14.423025
2                model_name: GCN              GCN     NaN       14.555305
3                model_name: GCN              GCN     NaN       14.555644
4              model_name: MHGCN            MHGCN     NaN       14.813932
..                           ...              ...     ...             ...
145              model_name: GAT              GAT     NaN       18.439175
146   model_name: GAT_fuse_embed   GAT_fuse_embed     NaN       18.875578
147   model_name: GAT_fuse_embed   GAT_fuse_embed     NaN       19.036013
148  model_name: SAGE_fuse_embed  SAGE_fuse_embed     NaN       19.297262
149              model_name: GAT              GAT     NaN       26.377562

[150 rows x 4 columns]

In [30]:
stats = df.groupby('model_name').best_test_rmse.agg(['mean', 'std']).sort_values(by='mean').reset_index()
stats['mean ± std'] = stats['mean'].map('{:.4f}'.format) + ' ± ' + stats['std'].map('{:.4f}'.format)
stats = stats[['model_name', 'mean ± std', 'mean', 'std']]

In [31]:
stats

         model_name        mean ± std       mean       std
0               Mew  16.1737 ± 1.1260  16.173731  1.126028
1               SGC  16.2452 ± 1.1681  16.245209  1.168097
2             MHGCN  16.2801 ± 1.1606  16.280134  1.160590
3         MewCustom  16.2886 ± 1.3685  16.288636  1.368475
4         NeuroPath  16.3245 ± 1.1264  16.324475  1.126352
5    SGC_fuse_embed  16.3279 ± 1.2904  16.327950  1.290405
6               GCN  16.3448 ± 1.2755  16.344793  1.275522
7              SAGE  16.4192 ± 1.1398  16.419231  1.139802
8    GCN_fuse_embed  16.4592 ± 1.2194  16.459198  1.219365
9   SAGE_fuse_embed  16.5462 ± 1.4488  16.546190  1.448795
10   GAT_fuse_embed  16.5954 ± 1.6190  16.595414  1.618972
11              GAT  17.4703 ± 3.3405  17.470344  3.340487